<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recommended Movies</title>
</head>
<body>
    <h1>Recommended Movies</h1>
    <table>
        <tr>
            <td>{{ recommended_movie_names[0] }}</td>
            <td><img src="{{ recommended_movie_posters[0] }}" alt="{{ recommended_movie_names[0] }}" width="200"></td>
        </tr>
        <tr>
            <td>{{ recommended_movie_names[1] }}</td>
            <td><img src="{{ recommended_movie_posters[1] }}" alt="{{ recommended_movie_names[1] }}" width="200"></td>
        </tr>
        <tr>
            <td>{{ recommended_movie_names[2] }}</td>
            <td><img src="{{ recommended_movie_posters[2] }}" alt="{{ recommended_movie_names[2] }}" width="200"></td>
        </tr>
        <tr>
            <td>{{ recommended_movie_names[3] }}</td>
            <td><img src="{{ recommended_movie_posters[3] }}" alt="{{ recommended_movie_names[3] }}" width="200"></td>
        </tr>
        <tr>
            <td>{{ recommended_movie_names[4] }}</td>
            <td><img src="{{ recommended_movie_posters[4] }}" alt="{{ recommended_movie_names[4] }}" width="200"></td>
        </tr>
    </table>
</body>
</html>
